version: "3"
services:
  postal-smtp:
    build:
      context: .
    image: viettel-smtp
    entrypoint: ["/docker-entrypoint.sh"]
    volumes:
      - "./docker/ci-config:/config"
    command: postal smtp-server # web-server smtp-server   
    ports:
      - 25:25
    environment:
      RAILS_ENVIRONMENT: test
#    networks:
#      - mail_network
  postal-worker:
    build:
      context: .
    image: viettel-worker
    entrypoint: ["/docker-entrypoint.sh"]
    volumes:
      - "./docker/ci-config:/config"
    command: postal worker # web-server smtp-server   
    ports:
      - 9090:9090
    environment:
      RAILS_ENVIRONMENT: test
#    networks:
#      - mail_network
  postal:
    build:
      context: .
    image: viettel-postal
    entrypoint: ["/docker-entrypoint.sh"]
    volumes:
      - "./docker/ci-config:/config"
    command: postal web-server # web-server smtp-server   
    ports:
      - 8080:8080
#    networks:
#      - mail_network
    environment:
      # WAIT_FOR_TARGETS: |-
      #   mariadb:3306
      RAILS_ENVIRONMENT: test
#networks:
#  mail_network:
#    external: true